<ion-view hide-nav-bar="true">
  <ion-content class="padding po_email" scroll="false">
    <p class="title-rega-email">Выберите свою страну, введите свой номер телефона, и нажмите OK.</p>

    <div class="list" style="background-color: transparent">
      <label class="item item-input item-select">
        <div class="input-label">
          &nbsp
        </div>
        <select style="max-width: 100%; width: 100%; direction: ltr; color: #104e6e">
          <option>Раша ( +390 )</option>
          <option selected>Украина ( +380 )</option>
        </select>
      </label>

      <div class="item item-input-inset" style="background-color: transparent; border: 0;">
        <label class="item-input-wrapper" style="background-color: white">
          <input type="text" placeholder="Введите номер">
        </label>
        <button class="button button-small" style="width: 20%">
          OK
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
