<ion-view hide-nav-bar="true">
  <ion-content class="padding po_email" scroll="false">
    <p class="title-rega-email">Введите свой E-mail и нажмите OK.</p>

    <div class="list" style="background-color: transparent">
      <div class="item item-input-inset" style="background-color: transparent; border: 0;">
        <label class="item-input-wrapper" style="background-color: white">
          <input type="text" placeholder="Введите E-mail">
        </label>
        <button class="button button-small" style="width: 20%">
          OK
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
