<ion-view view-title="Избранные рестораны">
  <ion-content class="padding favourite-tab">
    <ul class="list">
      <li class="item">
        <span class="ion-android-favorite-outline"></span>
        "Япи", г. Сумы ул. Харьковская, 5
        <span class="ion-ios-arrow-forward"></span>
      </li>
      <li class="item">
        <span class="ion-android-favorite-outline"></span>
        "Simbiosi", г. Сумы ул. Харьковская, 2
        <span class="ion-ios-arrow-forward"></span>
      </li>
      <li class="item">
        <span class="ion-android-favorite-outline"></span>
        "Пицца Челентано", г. Сумы ул. Харьковская, 3
        <span class="ion-ios-arrow-forward"></span>
      </li>
      <li class="item">
        <span class="ion-android-favorite-outline"></span>
        "Картопляна хата", г. Сумы ул. Харьковская, 1
        <span class="ion-ios-arrow-forward"></span>
      </li>
      <li class="item">
        <span class="ion-android-favorite-outline"></span>
        "Бургер хата", г. Сумы ул. Пупкина, 43
        <span class="ion-ios-arrow-forward"></span>
      </li>
    </ul>
  </ion-content>
</ion-view>
