<ion-view view-title="Интерьер">
  <ion-content class="tab-home-rest">

    <div class="wrapper-card-home">
      <a href="#/tab/menu">
        <div class="img-rest-home">
          <img src="img/interior-content1.png"/>
        </div>
        <div class="rest-home-content">
          <h5>Ресторан находится в центре города.</h5>
        </div>
      </a>
    </div>

    <div class="wrapper-card-home">
      <div class="img-rest-home">
        <img src="img/interior-content2.png"/>
      </div>
      <div class="rest-home-content">
        <h5>Интерьер в современном стиле.</h5>
      </div>
    </div>

    <div class="wrapper-card-home">
      <div class="img-rest-home">
        <img src="img/interior-content1.png"/>
      </div>
      <div class="rest-home-content">
        <h5>Еще о красивом ресторане.</h5>
      </div>
    </div>

  </ion-content>
</ion-view>
