<ion-view view-title="Отзывы">
  <ion-content class="padding template-review">
    <h4 class="title-review">Оцените ресторан</h4>
    <ionic-ratings ratingsobj='ratingsObject' ng-click="openModal()"></ionic-ratings>

    <div class="avatar-review">
      <div class="row">
        <div class="col col-33">
          <img src="img/avatar-review.png"/>
        </div>
        <div class="col col-67">
          <span class="name-review">Светлана</span>
          <div class="row rating-review-name">
            <div class="col col-50">
              <span class="star-review"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings></span>
            </div>
            <div class="col col-50">
              <span class="date-review">16.07.2016</span>
            </div>
          </div>
          <p class="content-review">Спасибо шеф-повару за вкуснейшие блюда. Буду теперь всегда обедать у вас!</p>
        </div>
      </div>
    </div>

    <div class="avatar-review">
      <div class="row">
        <div class="col col-33">
          <img src="img/avatar-review2.png"/>
        </div>
        <div class="col col-67">
          <span class="name-review">inessa90</span>
          <div class="row rating-review-name">
            <div class="col col-50">
              <span class="star-review"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings></span>
            </div>
            <div class="col col-50">
              <span class="date-review">3.07.2010</span>
            </div>
          </div>
          <p class="content-review">very very delicious, I liked it!</p>
        </div>
      </div>
    </div>

    <div class="avatar-review">
      <div class="row">
        <div class="col col-33">
          <img src="img/avatar-review3.png"/>
        </div>
        <div class="col col-67">
          <span class="name-review">Сергей</span>
          <div class="row rating-review-name">
            <div class="col col-50">
              <span class="star-review"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings></span>
            </div>
            <div class="col col-50">
              <span class="date-review">4.05.1999</span>
            </div>
          </div>
          <p class="content-review">Отмечали здесь День рождения. Очень понравился интерьер и еда.</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
