<ion-view view-title="Акции">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="activeMenu()" style="background-color: transparent; border: 0">
      <span class="ion-ios-more" style="font-size: 30px; color: #ffffff;"></span>
    </button>
  </ion-nav-buttons>
  <ion-content class="tab-home-rest">
    <div class="wrapper-additional-menu" ng-show="toggle">
      <ul class="list">
        <li class="item" ng-click="addFavourite()">
          <span class="ion-android-favorite-outline"></span>
          Добавить в избранные
        </li>
        <li class="item" ng-click="shareFB()">
          <span class="ion-social-facebook"></span>
          Поделиться в Facebook
        </li>
        <li class="item" ng-click="shareVK()">
          <span class="ion-social-vimeo"></span>
          Поделиться в VK
        </li>
      </ul>
    </div>
    <div class="wrapper-card-home">
      <a href="#/tab/menu">
        <div class="img-rest-home">
          <img src="img/menu-restoran.png"/>
        </div>
        <div class="rest-home-content">
          <h5>Каждый день с 11.00 до 13.00 купи любой сет и получи напиток бесплатно!</h5>
        </div>
      </a>
    </div>

    <div class="wrapper-card-home">
      <div class="img-rest-home">
        <img src="img/shares-roll.png"/>
      </div>
      <div class="rest-home-content">
        <h5>с 7 по 17 декабря до 18.00 купи ролл ресторана Япи и получи второй в подарок.</h5>
      </div>
    </div>

  </ion-content>
</ion-view>
