<ion-view view-title="Акции">
  <ion-content class="tab-home-rest">

    <div class="wrapper-card-home">
      <a href="#/tab/menu">
        <div class="img-rest-home">
          <img src="img/menu-restoran.png"/>
        </div>
        <div class="rest-home-content">
          <h5>Каждый день с 11.00 до 13.00 купи любой сет и получи напиток бесплатно!</h5>
        </div>
      </a>
    </div>

    <div class="wrapper-card-home">
      <div class="img-rest-home">
        <img src="img/shares-roll.png"/>
      </div>
      <div class="rest-home-content">
        <h5>с 7 по 17 декабря до 18.00 купи ролл ресторана Япи и получи второй в подарок.</h5>
      </div>
    </div>

  </ion-content>
</ion-view>
