<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/history_orders">
    <ion-nav-view name="tab-history_orders"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favourite">
    <ion-nav-view name="tab-favourite"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
