<ion-view hide-nav-bar="true">
  <ion-content class="padding registration" scroll="false">
    <img src="img/OrTab.png"/>
    <p class="title">Самый быстрый способ заказать столик онлайн</p>
    <div class="block-buttons-who-are-you">
      <h5>Войти как:</h5>
      <diw class="row">
        <button class="button button-stable owner" ng-click="goToHome()">
          Владелец
        </button>
      </diw>
      <diw class="row">
        <button class="button button-stable client" ng-click="goToHome()">
          Посетитель
        </button>
      </diw>
    </div>
  </ion-content>
</ion-view>
